@{
//    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="Stylesheet" href="~/css/site.css">
    <title>
        Superwheels
    </title>
</head>
<body style="background-color: rgb(0, 0, 0);">



<div class="navbar">
<ul>
    <h1 class="superwheels">
        S U P E R W H E E L S 
    </h1>
    <h2 class="Smile">
        Get a Smile to your Car

    </h2>
    <li><a href="#home">Home</a></li>
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#Cars">Cars</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#About">About</a></li>
    <li><a href="#Contact">Contact</a></li>
</ul>

</div>
<div class="bg-img">

<h3 class="textpic">
    WELCOME TO SUPERWHEELS !
</h3>
</div>
</div>
<h1 class="heading1">
    About Us

</h1>

<h2 class="heading2">
    Hello! We are Superwheels Pakistan one of the biggest and finest Modification Garage all over the country. we do all the stuffs of related cars including: Wraps, Services, Tune up, Upgrations, Uplift options, Cars acceries, a wide range of alloy rims, imported Tyres, Cars Perfumes, DynoTune Up, all type of Maintenece, including Oilchange, Car wash, cars detailing etc...... we have extpert staff to do the things for professionall and to do better. An Superwheels Mechanic, or Service Technician, fixes vehicles and replaces their parts for customers. Their duties include inspecting the vehicle’s mechanical components and its engine, diagnosing problems with vehicles and performing maintenance and repair work on cars, trucks and other vehicles.  

</h2>
<div class="row">
    <div class="column">
      <img src="~/images/gtr.jpg" alt="Gtr" style="width:100% ">
    </div>
    <div class="column">
      <img src="~/images/Slider2.jpg" alt="Panda" style="width:100%">
    </div>
      </div>
<h1 class="Do">
    WHAT WE ARE
</h1>
<h2 class="heading3">
    Superwheels Customs is your one stop shop for all your car customization needs. Located in Sialkot, Pakistan the shop houses a veteran team of technicians, fabricators, designers, electricians, painters and so much more.
    Every day, the team works towards the goal of creating custom works of art for our clients.
</h2>
<h1 class="heading4">
    WHAT WE DO
</h1>
<h2 class="heading5">
    You may have seen some of our one-of-a-kind, multi-million-dollar custom car builds on our TV show or in the news, but we also specialize in smaller customizations. From wraps to wheels and everything in between, contact us today to inquire about our services.
</h2>

<div class="container">
<div class="gallery">
    <img src="~/images/Detail.jpg">
    <div class="Desc">DETAILING</div>
</div>
<div class="gallery">
    <img src="~/images/Mustang.jpg">
    <div class="Desc">ELECTRICAL </div>
</div>
<div class="gallery">
    <img src="~/images/wrap.jpg">
    <div class="Desc">WRAPPING</div>
</div>
<div class="gallery">
    <img src="~/images/alloys.jpg">
    <div class="Desc">ALLOY RIMS</div>
</div>
<div class="gallery">
    <img src="~/images/Oil Change.jpg">
    <div class="Desc">OIL CHANGE</div>
</div>
<div class="gallery">
    <img src="~/images/tyres.jpg">
    <div class="Desc">IMPORTED TYRES</div>
</div>
<div class="gallery">
    <img src="~/images/Maintenece.jpg">
    <div class="Desc">MAINTENENCE</div>
</div>
</div>

<div class="footer">
    <div class="col-1">
        <h3>
            Useful links
        </h3>
        <a href="#">Home</a>
        <a href="#">Projects</a>
        <a href="#">Cars</a>
        <a href="#">Services</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="col-2">
        <h3>
            NEWSLETTER
        </h3>
        <form>
            <input type="text" your placeholder="Your Email Address">
            <br>
            <button type="submit">
                    APPLY NOW
            </button>
        </form>
    </div>
    <div class="col-3">
        <h3>CONTACTS</h3>
        <P> Model Town<br>Sialkot, Pakistan</P>
    </div>
</div>

</body>




</html>
